.site{
    display: grid;
 	grid-template-columns:1fr;
 	grid-template-rows: repeat(5, 1fr);
 	grid-template-areas: 
 		"title"
 		"image1"
 		"image2"
 		"image3"
 		"image4";
 		width: 90%;
 		margin: auto;
}

.masthead{
	grid-area: title;
}

.page-title{
	grid-area: image1;
}

.main-content{
	grid-area: image2;
}

.sidebar{
	grid-area: image3;
}

.footer-content{
	grid-area: image4;

}






@media only screen and (min-width: 800px){

	.site{
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-areas: 
			"title title title"
 			"main masthead masthead"
 			"main sidebar sidebar"
 			"footer footer footer";
	}
